<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baeedf">  <td>18/09/22 09:53:26</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/22 09:53:26</td>   <td>577</td> <td>&nbsp;</td><td title="&gt;&gt;TC01_CreateLead.setData()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/22 09:53:26</td>   <td>586</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/22 09:53:26</td>   <td>625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/22 09:53:53</td>   <td>27433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.CreateLead()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">CreateLead</td> 
  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/22 09:54:01</td>   <td>35197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/22 09:54:03</td>   <td>37508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/22 09:54:36</td>   <td>69913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_CreateLead.CreateLead()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">CreateLead</td> 
  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/22 09:54:47</td>   <td>81644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/22 09:54:50</td>   <td>83991</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:wdMethods.TC01_CreateLead@20398b7c]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
</table>
