<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>18/09/30 00:08:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_DuplicateLeadP.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">CreateLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/30 00:09:17</td>   <td>36711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_DuplicateLeadP.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">CreateLead</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 00:10:01</td>   <td>80348</td> <td title="&lt;&lt;ProjectMethods_POM.afterSuite()[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 00:08:34</td>   <td>-6305</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods_POM.beforeClass()[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 00:08:34</td>   <td>-6480</td> <td title="&gt;&gt;ProjectMethods_POM.beforeSuite()[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 00:09:10</td>   <td>29406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods_POM.closeApp()[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 00:09:59</td>   <td>77980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods_POM.closeApp()[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 00:08:35</td>   <td>-5868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods_POM.login(java.lang.String)[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 00:09:10</td>   <td>29503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods_POM.login(java.lang.String)[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/30 00:08:34</td>   <td>-6311</td> <td>&nbsp;</td><td title="&gt;&gt;TC004_DuplicateLeadP.setData()[pri:0, instance:pages.TC004_DuplicateLeadP@4e9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
</table>
